.appTitle {
  text-align: center;
  color: hsl(128, 63%, 26%);
}

.appSubtitle {
  text-align: center;
  color: hsl(128, 38%, 15%);
}

.appForm {
  text-align: center;
}

.mainContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.mainContainer > * {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

